##############################
## Common files
##############################
*~
*.tmp
*.tmp.*
*.bak
*.swp
*/log.txt
.DS_Store
*.DS_Store
dist/
bin/
build/
$RECYCLE.BIN/

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## NodeJS
##############################
.angular/
npm-debug.log*
node_modules/
platforms/
plugins/
www/

##############################
## Amplify User Account Data
##############################
amplify/

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Avoid ignoring Maven wrapper jar file.
!/.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
.classpath
.project
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Unit test reports
TEST*.xml

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.mpg

# Large data files
*.db
